/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/
/* GLOBAL STYLING */
/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/
body {
	font: 14px/1.5 Arial, sans-serif;
}

section h1 {
    color: #930c0a !important;
}

h2.block-title {
padding-left: 7px;
padding-top: 5px;
}

.block-menu-menu-category {
padding-left: 15px;
}

.breadcrumb {
padding-top: 15px;
}

#search-block-form {
padding-top: 15px;
padding-bottom: 15px;
}

.field-type-taxonomy-term-reference .field-items {
margin-top: -5px;
}

.view-content {
padding: 10px;
}

.view-grouping-header {
padding-bottom: 10px;
}

.view-grouping .view-grouping-content td {
width: 175px;
}

.view-display-id-people_grid .views-row {
min-height: 0 !important;
}

ul li.leaf {
padding-bottom: 8px;
}

#region-sidebar-first {
padding-right: 15px;
}

#main-menu li:before {
content: " | ";
color: #FFF;
}

#main-menu li:first-child:before {
content: none;
}

#main-menu li#suitcaseext-main-menu-dropdown-toggle:before {
content: none;
}

#main-menu {
text-shadow: 0 1px 3px #333333;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
background: none;
}

img {
max-width: 100%;
height: auto !important;
}

#isu_wordmark {
padding-top: 15px;
margin-bottom: -8px;
}

.section-footer {
	background: #930c0a;
}

nav.navigation .main-menu>li a {
	text-decoration: none;
}

a.active-trail {
	background-color: rgba(0, 0, 0, 0.1);
}

/*////////////////////////////////////*/
/* Dark Ribbon */
.isu-dark-ribbon .wd-ribbon-menu {
	float: right !important;
}

input[type="text"] {
    height: 2em !important;
}

/*////////////////////////////////////*/
/* Site Name/Slogan */
.nameplate img {
	height: 60px !important;
}

h1.site-name,
h2.site-name {
	padding-top: 10px;
	font-size: 1.6em;
}

.site-name-slogan a {
	font-weight: bold;
}

.site-name a:hover {
	text-decoration: none;
}

.site-name {
	letter-spacing: 1px !important;
}

/*////////////////////////////////////*/
/* Side menu */
#zone-side-menu-wrapper .content>ul>li>ul>li>ul>li a {
    padding-left: 1.7em;
}



/*////////////////////////////////////*/
/* Main menu mobile */
nav.navigation .main-menu {
	font-weight: bold;
}

/*////////////////////////////////////*/
/* Search Form */

.page-search .search-form input#edit-submit,
.page form#search-block-form .form-actions input.form-submit {
	height: 3em !important;
	border: 2px solid #CB1A2A !important;
}

.page-search input#edit-keys,
.page form#search-block-form .form-item-search-block-form input.form-text {
    border: 2px solid #CB1A2A;
    max-width: 91%;	
;
}


/*////////////////////////////////////*/
/* A Tag Mobile Styling */
.item-list ul li.leaf {
	padding-left: 1.7em;
}

/*///////MyExtension Changes//////*/
/* Favorites Flag */
.flag-bookmarks {
	float: right;
}
.flag-bookmarks a:link {
	color: #0062a0;
}
.flag-bookmarks a:visited {
	color: #0062a0;
}
/*////////////////////////////////////*/
/* Event Content */
.date-display-single {
	padding: 50px;
}
/*////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/
/* GLOBAL STYLING END */
/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/

@media all and (max-width: 739px) {
 #main-menu li:before {
		display: none !important;
	}
	/*Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}
}      
