/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/
/* GLOBAL STYLING */
/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/

h2.block-title {
padding-left: 7px;
padding-top: 5px;
}

.block-menu-menu-category {
padding-left: 15px;
}

.breadcrumb {
padding-top: 15px;
}

#search-block-form {
padding-top: 15px;
padding-bottom: 15px;
}

.field-type-taxonomy-term-reference .field-items {
margin-top: -5px;
}

.view-content {
padding: 10px;
}

.view-grouping-header {
padding-bottom: 10px;
}

.view-grouping .view-grouping-content td {
width: 175px;
}

.view-display-id-people_grid .views-row {
min-height: 0 !important;
}

ul li.leaf {
padding-bottom: 8px;
}

#region-sidebar-first {
padding-right: 15px;
}

#main-menu li:before {
content: " | ";
color: #FFF;
}

#main-menu li:first-child:before {
content: none;
}

#main-menu {
text-shadow: 0 1px 3px #333333;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
background: none;
}

img {
max-width: 100%;
height: auto !important;
}

#isu_wordmark {
padding-top: 15px;
margin-bottom: -10px;
}


@media print {




/*////////////////////////////////////*/
/* Stuff */



/*////////////////////////////////////*/
/* Dark Ribbon */




/*////////////////////////////////////*/
/* Site Name/Slogan */



/*////////////////////////////////////*/
/* Views */




/*////////////////////////////////////*/
/* Highlights */



/*////////////////////////////////////*/
/* Main menu mobile */



/*////////////////////////////////////*/
/* Main menu container */




/*////////////////////////////////////*/
/* Side menu */




/*////////////////////////////////////*/
/* Search Form */



/*////////////////////////////////////*/
/* Sidebar Facets */




/*////////////////////////////////////*/
/* Sidebar */



/* Views Specific overrides */



/*////////////////////////////////////*/
/* Search Results */



/*////////////////////////////////////*/
/* Fields */



/*////////////////////////////////////*/
/* A Tag Mobile Styling */



/*////////////////////////////////////*/
/* Sticky menu Styling */



/*////////////////////////////////////*/
/* Flexslider */


/*////////////////////////////////////*/
/* Panels */



/*////////////////////////////////////*/
/* Footer */




/*////////////////////////////////////*/
/* Taxonomy Views */




/*////////////////////////////////////*/
/* Throbber */



/*////////////////////////////////////*/
/* Alert Boxes */



/*////////////////////////////////////*/
/* Book Outline Sidebar Block */



/*///////////////////////////////////////////////////////////*/
/*/////////////////// Hover Events //////////////////////////*/
/*///////////////////////////////////////////////////////////*/



/*////////////////////////////////////*/
/* Biblio */




/*////////////////////////////////////*/
/* Carets */




/*////////////////////////////////////*/
/* Webkit Scroll bar */





/*////////////////////////////////////*/
/* Views */
/* - People */



/*////////////////////////////////////*/
/* Helper classes */




/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/
/* GLOBAL STYLING END */
/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/

@media all and (max-width: 739px) {
 #main-menu li:before {
		display: none !important;
	}
	/*Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}
}    
    
    
@media all and (max-width: 979px) {
   
   
   